 <!-- Navbar -->


 <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <!-- Container wrapper -->
    
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="color: aliceblue;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="nav-link" routerLink="/dashboard">Home</a>
          </li>
          <li class="nav-item">
            <a style="color: aliceblue;" class="nav-link" routerLink="/dashboard">About Us</a>
          </li>
          <li class="nav-item">
            <a style="color: aliceblue;" class="nav-link" routerLink="/dashboard">Contact Us</a>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center">
          <button type="button" routerLink="/login" class="btn btn-primary me-3">
            Login
          </button>
          <button type="button" routerLink="/register" class="btn btn-primary me-3">
            Register
          </button>
          
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  <br><br>
