<html>
  <style>
    body {
    background-image: url(https://ik.imagekit.io/kreditbee/app-static/Website/Website-SignIn_Illustration-with-text_msite-notext.svg);
    width: auto;
    background-repeat: no-repeat;
    min-height: 331px;
    margin: 50px;
    height: auto;

}
    </style>
<body>
  <!-- Navbar -->


<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <!-- Container wrapper -->
  
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="color: aliceblue;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="nav-link" href="dashboard" routerLink="/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a style="color: aliceblue;" class="nav-link" routerLink="/dashboard">About Us</a>
        </li>
        <li class="nav-item">
          <a style="color: aliceblue;" class="nav-link" routerLink="/dashboard">Contact Us</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button type="button" routerLink="/login" class="btn btn-primary me-3">
          Login
        </button>
        <button type="button" routerLink="/register" class="btn btn-primary me-3">
          Register
        </button>
        
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<br><br>

<div class="skins__LeftContainer-iuckAw gvNruW">
<div class="skins__SigninIllustrationImg-cheSky bTgaOz">
  <h1 class="skins__SigninMainHeading-cnucvU cIliCh"> Flexible Personal Loan</h1>
  <ul class="skins__SigninCondition-fMUAiZ fsvfBa"><br>
      <li class="skins__SigninConditionPoints-eThctw iUNzBB"><span class="skins__SigninSpan-ipMNYF gvxyOH"></span>For Salaried and Self-Employed</li><br>
      <li class="skins__SigninConditionPoints-eThctw iUNzBB"><span class="skins__SigninSpan-ipMNYF gvxyOH"></span>From ₹1,000 upto ₹3 Lakhs</li><br>
      <li class="skins__SigninConditionPoints-eThctw iUNzBB"><span class="skins__SigninSpan-ipMNYF gvxyOH"></span>100% Online Process</li><br>
      <li class="skins__SigninConditionPoints-eThctw iUNzBB"><span class="skins__SigninSpan-ipMNYF gvxyOH"></span>Quick Approval</li><br>
      <li class="skins__SigninConditionPoints-eThctw iUNzBB"><span class="skins__SigninSpan-ipMNYF gvxyOH"></span>10-Minute Disbursal</li><br>
      <li class="skins__SigninConditionPoints-eThctw iUNzBB"><span class="skins__SigninSpan-ipMNYF gvxyOH"></span>Direct Bank Transfer</li>
      
    </ul>
</div>
</div>
<div class="sc-ibxdXY fYvgaW">
 
</div>
</body>



</html>